<div class="jumbotron">
    <h1>AngularPic</h1>
    <p>Aprendendo AngularJS V1.3.15</p>
</div>

<!-- INICIO Filtro Pesquisa-->
<div class="row">
    <div class="col-md-12">
        <form>
            <input class="form-control" placeholder="Filtrar Fotos" ng-model="filtro"
                ng-model-options="{ debounce: 500 }">
        </form>
    </div>
</div>
<!-- FIM Filtro Pesquisa-->

<!-- INICIO Row Fotos-->
<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    </meu-painel>
</div>
<!-- FIM Row Fotos-->